<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <script src="/js/success.js" defer></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Monitoring your health</title>
  </head>
  <body>
    <h1 class="text-center">Monitoring your health</h1>
    <div
      class="d-flex justify-content-center d-flex align-items-center w-100 plot-container"
    ></div>
    <div class="avg-HR text-center">
      <p class="font-weight-bold"></p>
    </div>
  </body>
</html>
